/* Botón personalizado */
.btn-personalizado {
    -fx-background-color: -principal;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-padding: 10;
    -fx-opacity: 0.8;
    -fx-transition: opacity 0.3s;
}
.btn-personalizado:hover, .btn-personalizado:focused{
    -fx-cursor: hand;
    -fx-opacity: 1;
}
.btn-personalizado:pressed{
    -fx-opacity: 0.8;
}

/* Titulo principal */
.titulo-principal{
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.titulo-principal Line{
    -fx-stroke: -principal;
    -fx-stroke-width: 3;
}

/* Acciones */
.acciones-contenedor{
    -fx-alignment: center;
}

/* Insertamos los iconos a las acciones (agregar, modificar y eliminar) */
.acciones-contenedor .btn-personalizado.eliminar{
    -fx-background-color: -rojo;
}
.acciones-contenedor .btn-personalizado.modificar{
    -fx-text-fill: black;
    -fx-background-color: -amarillo;
}



