/* Grilla del formulario */
.formulario-grilla{
    -fx-alignment: center;
}
.formulario-grilla Label{
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

/* TextField personalizado */
.text-field-personalizado, .password-field-personalizado{
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-transition: border-color 0.3s;
}
.text-field-personalizado:hover, .text-field-personalizado:focused, .password-field-personalizado:hover, .password-field-personalizado:focused{
    -fx-border-color: -principal-oscuro-3;
}

/* Combo y checkCombo personalizado */
.combo-personalizado > .combo-box, #checkComboBox > .combo-box{
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-transition: border-color 0.3s;
}
.combo-personalizado > .combo-box > .arrow-button, #checkComboBox > .arrow-button{
    -fx-background-color: transparent;
    -fx-transition: background-color 0.3s;
}
.combo-personalizado > .combo-box .text-input, #checkComboBox .text-input{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-effect: null;
    -fx-background-color: white;
}
.combo-personalizado > .combo-box .text-field .right-button, #checkComboBox .text-field .right-button {
    -fx-background-color: transparent;
}
.combo-personalizado > .combo-box .arrow-button:hover, #checkComboBox .arrow-button:hover{
    -fx-background-color: -principal-oscuro-1;
}
.combo-personalizado > .combo-box .arrow-button:pressed, #checkComboBox .arrow-button:pressed {
    -fx-background-color: -principal-oscuro-2;
}
.combo-personalizado > .combo-box:hover, #checkComboBox > .combo-box:hover, .combo-personalizado > .combo-box:selected, #checkComboBox > .combo-box:selected, .combo-personalizado > .combo-box:focused, #checkComboBox > .combo-box:focused{
    -fx-border-color: -principal-oscuro-3;
}
.combo-personalizado > .combo-box .list-view .list-cell:hover, #checkComboBox .list-view .list-cell:hover, .combo-personalizado > .combo-box .list-view .list-cell:selected, #checkComboBox .list-view .list-cell:selected  {
    -fx-background-color: -principal-oscuro-3;
}

/* Spinner de cantidad personalizado */
.spinCantidad > .increment-arrow-button, .spinCantidad > .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-transition: background-color 0.3s;
}
.spinCantidad:focused > .increment-arrow-button, .spinCantidad:focused > .decrement-arrow-button {
    -fx-background-color: white;

}
.spinCantidad:focused > .FakeFocusTextField > .text-field .text-input {
    -fx-background-color: black;

}
.spinCantidad > .increment-arrow-button:hover, .spinCantidad > .decrement-arrow-button:hover  {
    -fx-background-color: -principal-oscuro-1;

}
.spinCantidad > .increment-arrow-button:pressed, .spinCantidad > .decrement-arrow-button:pressed  {
    -fx-background-color: -principal-oscuro-2;

}
.spinCantidad:focused {
    -fx-background-color: transparent;
    -fx-border-color: -principal-oscuro-3;

}

/* DatePicker personalizado */
.datepicker-personalizado{
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-transition: border-color 0.3s;
}
.datepicker-personalizado:hover, .datepicker-personalizado:focused{
    -fx-border-color: -principal-oscuro-3;
}
.datepicker-personalizado .text-field{
    -fx-background-color: transparent;
}
.datepicker-personalizado .arrow-button{
    -fx-background-color: transparent;
    -fx-transition: background-color 0.3s;
}
.datepicker-personalizado .arrow-button:hover{
    -fx-background-color: -principal-oscuro-1;
}
.datepicker-personalizado .arrow-button:pressed {
    -fx-background-color: -principal-oscuro-2;
}

/* Calendario del DatePicker */
.datepicker-personalizado .cell {
  -fx-background-color: white;
}
.datepicker-personalizado .cell:hover, .datepicker-personalizado .cell:focused{
    -fx-background-color: -gris-claro;
    -fx-text-fill: black;
}
.datepicker-personalizado .selected, .datepicker-personalizado .selected:focused {
    -fx-background-color: -principal-oscuro-3;
    -fx-text-fill: white;
}
.datepicker-personalizado .month-year-pane {
    -fx-background-color:  -principal;
}
.datepicker-personalizado .date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.datepicker-personalizado .date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -gris-claro;
}
.datepicker-personalizado .date-picker-popup .spinner .button:hover .left-arrow,
.date-picker-popup .spinner .button:hover .right-arrow {
	-fx-background-color: white;
}
.datepicker-personalizado .date-picker-popup .spinner .button:hover,
.datepicker-personalizado .date-picker-popup .spinner .button:focused {
	-fx-background-color: transparent;
}

/* TextArea */
.text-area-personalizado{
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-transition: border-color 0.3s;
}
.text-area-personalizado .content {
    -fx-padding: 10 15;
}
.text-area-personalizado:hover, .text-area-personalizado:focused, .text-area-custom:pressed{
    -fx-border-color: -principal-oscuro-3;
}

/* CheckBox */
.check-box-personalizado{
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.check-box-personalizado .box{
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-transition: border-color 0.3s;
    -fx-transition: background-color 0.3s;
}
.check-box-personalizado:selected .box .mark{
    -fx-background-color: black;
}
.check-box-personalizado .box .mark{
    -fx-background-color: transparent;
}
.check-box-personalizado .box:hover,
.check-box-personalizado:hover .box,
.check-box-personalizado:focused .box{
    -fx-background-color: -gris-claro;
    -fx-border-color: -principal;
}
.check-box-personalizado .box:pressed,
.check-box-personalizado:pressed .box{
    -fx-background-color: -gris-suave;
}

/* Link */
.enlace{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}
.enlace Text {
    -fx-font-size: 0.9em;
    -fx-fill: -enlace;
    -fx-transition: fill 0.3s;
}
.enlace:hover Text,
.enlace:focused Text{
    -fx-fill: -enlace-hover;
    -fx-underline: true;
}

